<?xml version='1.0' encoding='UTF-8'?>
<!-- Initializer file to load standard packages required by Maya. -->
<templates package="maya">
  <using package="maya"/>
  <using package="std"/>
</templates>
