[Desktop Entry]
Name=Autodesk Maya 2016
Type=Application
Comment=Run Autodesk Maya 2016
Categories=Application;Graphics;
Icon=/usr/autodesk/maya/desktop/Maya.png
Exec=/usr/autodesk/maya/bin/maya
Encoding=UTF-8
