.rst-content .hidden {
    display: none;
}

nav .hidden {
    display: unset;
}


/******************************************************************************
 * START GENERAL STYLES
******************************************************************************/
.wy-body-for-nav{
    background: #3B3B3B;

}

a{
	color: green;
}

a:hover{
	color: white;
	text-decoration: underline;
}

a:visited{
	color: #888888;
}

h5{
	line-height: 50px;
	margin: 0px;
}

/******************************************************************************
 * END GENERAL STYLES
******************************************************************************/
/******************************************************************************
 * START FRONT-PAGE STYLES
******************************************************************************/
.title-page-text{
	font-size: 40px;
}

/******************************************************************************
 * END FRONT-PAGE STYLES
******************************************************************************/
/******************************************************************************
 * START SIDEBAR STYLES
******************************************************************************/
.icon-home, .icon-home:visited{
	color: white;
}
.wy-side-nav-search{
	background-color: green !important;
}

.wy-nav-side{
	background-color: #2A2A2B !important;
}
/******************************************************************************
 * START SIDEBAR STYLES
******************************************************************************/
