
body {
	margin: 0px;
}

#selection {
    font: 13px "Courier New";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 330px;
    border-width: 0px;
    border-color: transparent;
	background-color: transparent;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

.txLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 15px;
	top: 65px;
}

#txValue {
    font: 13px "Courier New";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 80px;
    top: 60px;
    width: 80px;
    border-width: 0px;
    border-color: transparent;
	background-color: transparent;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

.tyLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 15px;
	top: 88px;
}

#tyValue {
    font: 13px "Courier New";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 80px;
    top: 83px;
    width: 80px;
    border-width: 0px;
    border-color: transparent;
	background-color: transparent;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

.tzLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 15px;
	top: 111px;
}

#tzValue {
    font: 13px "Courier New";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 80px;
    top: 106px;
    width: 80px;
    border-width: 0px;
    border-color: transparent;
	background-color: transparent;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

.rxLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 15px;
	top: 134px;
}

#rxValue {
    font: 13px "Courier New";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 80px;
    top: 129px;
    width: 80px;
    border-width: 0px;
    border-color: transparent;
	background-color: transparent;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

.ryLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 15px;
	top: 157px;
}

#ryValue {
    font: 13px "Courier New";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 80px;
    top: 152px;
    width: 80px;
    border-width: 0px;
    border-color: transparent;
	background-color: transparent;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

.rzLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 15px;
	top: 180px;
}

#rzValue {
    font: 13px "Courier New";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 80px;
    top: 175px;
    width: 80px;
    border-width: 0px;
    border-color: transparent;
	background-color: transparent;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

.sxLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 210px;
	top: 65px;
}

#sxValue {
    font: 13px "Courier New";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 275px;
    top: 60px;
    width: 80px;
    border-width: 0px;
    border-color: transparent;
	background-color: transparent;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

.syLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 210px;
	top: 88px;
}

#syValue {
    font: 13px "Courier New";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 275px;
    top: 83px;
    width: 80px;
    border-width: 0px;
    border-color: transparent;
	background-color: transparent;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

.szLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 210px;
	top: 111px;
}

#szValue {
    font: 13px "Courier New";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 275px;
    top: 106px;
    width: 80px;
    border-width: 0px;
    border-color: transparent;
	background-color: transparent;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

.backgroundImage {
	position: absolute;
	top: 0px;
	left: 0px;
}

#portName {
    font: 12px "Courier New";
	font-weight: regular;
    color: black;
    position: absolute;
    left: 98px;
    top: 35px;
    width: 260px;
    border-width: 0px;
    border-color: transparent;
	background-color: transparent;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

.portNameLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: white;
   	text-shadow: black 0px -1px 0px;
    position: absolute;
    left: 31px;
    top: 40px;
}

.statusLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: white;
   	text-shadow: black 0px -1px 0px;
    position: absolute;
    left: 31px;
    top: 80px;
}

.flip {
	position:absolute;
	bottom: 20px;
	right: 20px;
	width:13px;
	height:13px;
}

#flip {
	opacity:0;
	background: url(file:///System/Library/WidgetResources/ibutton/white_i.png) no-repeat top left;
	z-index:8000;
}

#fliprollie {
	display:none;
	opacity:0.25;
	background: url(file:///System/Library/WidgetResources/ibutton/white_rollie.png) no-repeat top left;
	z-index:7999;

}

.doneButton {
	position: absolute;
	bottom: 20px;
	right: 31px;
}

#back {
	display: none;
} 

.flip {
	position:absolute;
	bottom: 20px;
	right: 20px;
	width:13px;
	height:13px;
}

#flip {
	opacity:0;
	background: url(file:///System/Library/WidgetResources/ibutton/white_i.png) no-repeat top left;
	z-index:8000;
}

#fliprollie {
	display:none;
	opacity:0.25;
	background: url(file:///System/Library/WidgetResources/ibutton/white_rollie.png) no-repeat top left;
	z-index:7999;

}

.doneButton {
	position: absolute;
	bottom: 20px;
	right: 31px;
}

#back {
	display: none;
} 
