
body {
	margin: 0px;
}

#ResultField {
    font: 13px "Courier New";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 20px;
    top: 15px;
    width: 350px;
    border-width: 0px;
    border-color: transparent;
	background-color: lightgray;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

#InputField {
    font: 13px "Courier New";
	font-weight: bold;
    color: black;
    position: absolute;
    left: 20px;
    top: 70px;
    width: 350px;
    border-width: 0px;
    border-color: transparent;
	background-color: white;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

#execButton {
	position: absolute;
	left: 16px;
	top: 50px;
    -apple-dashboard-region: dashboard-region(control rectangle);	
}

#execButtonText {
    font: 13px "Helvetica Neue";
    font-weight: Bold;
    color: white;
   	text-shadow: black 0px 1px 0px;
    position: absolute;
    left: 30px;
    top: 55px;
}

#clearButton {
	position: absolute;
	left: 56px;
	top: 50px;
    -apple-dashboard-region: dashboard-region(control rectangle);	
}

#clearButtonText {
    font: 13px "Helvetica Neue";
    font-weight: Bold;
    color: white;
   	text-shadow: black 0px 1px 0px;
    position: absolute;
    left: 77px;
    top: 55px;
}

#usageButton {
	position: absolute;
	left: 96px;
	top: 50px;
    -apple-dashboard-region: dashboard-region(control rectangle);	
}

#usageButtonText {
    font: 13px "Helvetica Neue";
    font-weight: Bold;
    color: white;
   	text-shadow: black 0px 1px 0px;
    position: absolute;
    left: 113px;
    top: 55px;
}

#helpButton {
	position: absolute;
	left: 136px;
	top: 50px;
    -apple-dashboard-region: dashboard-region(control rectangle);	
}

#helpButtonText {
    font: 13px "Helvetica Neue";
    font-weight: Bold;
    color: white;
   	text-shadow: black 0px 1px 0px;
    position: absolute;
    left: 158px;
    top: 55px;
}

.backgroundImage {
	position: absolute;
	top: 0px;
	left: 0px;
}

#portName {
    font: 12px "Courier New";
	font-weight: regular;
    color: black;
    position: absolute;
    left: 98px;
    top: 35px;
    width: 260px;
    border-width: 0px;
    border-color: transparent;
	background-color: transparent;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

.portNameLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: white;
   	text-shadow: black 0px -1px 0px;
    position: absolute;
    left: 31px;
    top: 40px;
}

.statusLabel {
    font: 11px "Helvetica Neue";
	font-weight: bold;
    color: white;
   	text-shadow: black 0px -1px 0px;
    position: absolute;
    left: 31px;
    top: 80px;
}

.flip {
	position:absolute;
	bottom: 20px;
	right: 20px;
	width:13px;
	height:13px;
}

#flip {
	opacity:0;
	background: url(file:///System/Library/WidgetResources/ibutton/white_i.png) no-repeat top left;
	z-index:8000;
}

#fliprollie {
	display:none;
	opacity:0.25;
	background: url(file:///System/Library/WidgetResources/ibutton/white_rollie.png) no-repeat top left;
	z-index:7999;

}

.doneButton {
	position: absolute;
	bottom: 20px;
	right: 31px;
}

#back {
	display: none;
} 

.flip {
	position:absolute;
	bottom: 20px;
	right: 20px;
	width:13px;
	height:13px;
}

#flip {
	opacity:0;
	background: url(file:///System/Library/WidgetResources/ibutton/white_i.png) no-repeat top left;
	z-index:8000;
}

#fliprollie {
	display:none;
	opacity:0.25;
	background: url(file:///System/Library/WidgetResources/ibutton/white_rollie.png) no-repeat top left;
	z-index:7999;

}

.doneButton {
	position: absolute;
	bottom: 20px;
	right: 31px;
}

#back {
	display: none;
} 
