
body {
	margin: 0px;
}

#nurbsShelf {
	position: absolute;
	top: 10px;
	left: 88px;
}

#polyShelf {
	position: absolute;
	top: 52px;
	left: 60px;
}

#subdShelf {
	position: absolute;
	top: 100px;
	left: 90px;
}


.backgroundImage {
	position: absolute;
	top: 0px;
	left: 0px;
}

.flip {
	position:absolute;
	bottom: 20px;
	right: 20px;
	width:13px;
	height:13px;
}

#flip {
	opacity:0;
	background: url(file:///System/Library/WidgetResources/ibutton/white_i.png) no-repeat top left;
	z-index:8000;
}

#fliprollie {
	display:none;
	opacity:0.25;
	background: url(file:///System/Library/WidgetResources/ibutton/white_rollie.png) no-repeat top left;
	z-index:7999;

}

.doneButton {
	position: absolute;
	bottom: 20px;
	right: 31px;
}

#back {
	display: none;
} 

.flip {
	position:absolute;
	bottom: 20px;
	right: 20px;
	width:13px;
	height:13px;
}

#flip {
	opacity:0;
	background: url(file:///System/Library/WidgetResources/ibutton/black_i.png) no-repeat top left;
	z-index:8000;
}

#fliprollie {
	display:none;
	opacity:0.25;
	background: url(file:///System/Library/WidgetResources/ibutton/black_rollie.png) no-repeat top left;
	z-index:7999;

}

.doneButton {
	position: absolute;
	bottom: 20px;
	right: 31px;
}

#back {
	display: none;
} 
