slim 1 extensions cutter {
extensions fundza cutr {
	template color Velvet {
		description {Brightens edges of curved surfaces.}
		previewinfo {
			shadingrate 1
			objectsize 1
			objectshape Cylinder
			frame 1
			}

		parameter float rim_width {
			description {Parameter information goes here...}
			label {Rim Width}
			detail varying
			default 0.5
			subtype slider
			range {0 1 0.05}
			}
		parameter color inner {
			description {Parameter information goes here...}
			label {Inner}
			detail varying
			default { 0.505 0.788 0.407 } 
			}
		parameter float inner_scale {
			label "Inner Brightness"
			description "Brightens/darkens the inner color."
			subtype slider
			range {0 2}
			detail varying
			default 1
			}
			
		parameter color edge {
			description {Parameter information goes here...}
			label {Edge}
			detail varying
			default { 0.309 0.474 0.250 } 
			}
		parameter float edge_scale {
			label "Edge Brightness"
			description "Brightens/darkens the edge color.."
			subtype slider
			range {0 2}
			detail varying
			default 1
			}
			
		parameter color cresult {
			display hidden
			access output
			}
		RSLFunction {
		void
		cutrVelvet (
				float rim_width;
				color inner;
				float inner_scale;
				color edge;
				float edge_scale;
				output color cresult;
				)
		{
		normal n = normalize(N);
		normal nf = faceforward(n, I, n);
		vector i = normalize(-I);
		float  dot = 1 - i.nf;
		dot = smoothstep(1 - rim_width, 1.0, dot);
		cresult = mix(inner * inner_scale, edge * edge_scale, dot);
		}
} } } }
