
slim 1 extensions cutter {
extensions fundza cutr {
	template multiple SSSMaterials {
		description {Node information goes here...}
		# Other shape names are Plane, Sphere, Torus,
		# Cylinder, Cube, Teapot, Volume and RiVolume
		previewinfo {
			shadingrate 1
			objectsize 1
			objectshape Plane
			frame 1
			}
		parameter float material {
			label "Material"
			description "Common material values."
			subtype selector
			range {"apple" 1 "chicken1" 2 "chicken2" 3 "cream" 4 "ketchup" 5 "marble" 6 "potato" 7 "skimmilk" 8 "skin1" 9 "skin2" 10 "wholemilk" 11}
			default 1
			provider variable
			}
		parameter color albedo {
			display hidden
			access output
			}
		parameter color dmfp {
			display hidden
			access output
			}
		RSLFunction {
		void
		cutrSSSMaterials (
				float material;
				output varying color albedo;
				output varying color dmfp;
				)
		{
		if(material == 1) 		{ albedo = color(0.846,0.841,0.528); dmfp = color(6.96,6.40,1.90); }
		else if(material == 2) 	{ albedo = color(0.314,0.156,0.126); dmfp = color(11.61,3.88,1.75); }
		else if(material == 3) 	{ albedo = color(0.321,0.160,0.108); dmfp = color(9.44,3.35,1.79); }
		else if(material == 4) 	{ albedo = color(0.976,0.900,0.725); dmfp = color(15.03,4.66,2.54); }
		else if(material == 5) 	{ albedo = color(0.164,0.006,0.002); dmfp = color(4.76,0.58,0.39); }
		else if(material == 6) 	{ albedo = color(0.830,0.791,0.753); dmfp = color(8.51,5.57,3.95); }
		else if(material == 7) 	{ albedo = color(0.764,0.613,0.213); dmfp = color(14.27,7.23,2.04); }
		else if(material == 8) 	{ albedo = color(0.815,0.813,0.682); dmfp = color(18.42,10.44,3.50); }
		else if(material == 9) 	{ albedo = color(0.436,0.227,0.131); dmfp = color(3.67,1.37,0.68); }
		else if(material == 10) { albedo = color(0.623,0.433,0.343); dmfp = color(4.82,1.69,1.09); }
		else 			 		{ albedo = color(0.908,0.881,0.759); dmfp = color(10.90,6.58,2.51); }
		}
} } } }
